body {
  background-color: antiquewhite;
  font-family:'Trebuchet MS';
  color: rgb(60,60,60);
  font-size: 16px;
  line-height: 32px;
}

h1{
  color: black;
  font-family: helvetica;
  font-size: 42px;
  line-height: 100px;
}

h2{
  color: black;
  font-family: helvetica;
  font-size: 32px;
  line-height: 50px;
}

h3{
  color: black;
  font-family: helvetica;
  font-size: 22px;
  line-height: 50px;
}

a{
  color: blue;
}

a:hover{
  color: orangered;
}

.container{
  width: 50vw;
  margin: 50 auto;
}

.card {
  text-align: center;
  background-color: rgb(240, 209, 194);
  padding: 10px;
  border-radius: 5px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
  list-style: none;
  padding-left: 0px;
}

.circle-img{
  border-radius: 50%;
  width: 100%;
}

.social-media {
  border: 2px solid orangered;
  margin-top: 10px;
}

/* @media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px
  }
} */
